* {
    padding: 0;
    margin: 0;
}

.exercicio-01 {
    background-color: #3730a3;
    color: #f1f5f9;
    width: 30vw;
    padding: 16px;
    margin: 4px;
    border-radius: 8px;
    line-height: 120%;
}

.exercicio-01 h3 {
    margin-bottom: 20px;
}

.exercicio-01 p {
    margin-bottom: 10px;
}

.exercicio-01 dl {
    background-color: #706da3;
    padding: 8px 12px;
    margin: 4px;
    border-radius: 4px;
}

.exercicio-01 dt {
    font-weight: 700;
}

.exercicio-01 dd {
    padding-left: 35px;
}